<div class="panel panel-success">
  	<div class="panel-heading">
    	<h3 class="panel-title">Data Utama PTK</h3>
  	</div>
  	<div class="panel-body" style="font-size:13px">
		<div class="panel panel-default">
			<div class="panel-body status_kepegawaian_id_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;">
		    	<div class="kolom_1" style="text-align:left;width:100%;color:#3399cc">DATA INDIVIDU</div>
		  	</div>
		  	<div class="panel-body nama_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Nama</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="nama_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="nama_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body nip_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">NIP</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="nip_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="nip_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body jenis_kelamin_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Jenis Kelamin</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="jenis_kelamin_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="jenis_kelamin_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body tempat_lahir_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Tempat Lahir</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="tempat_lahir_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="tempat_lahir_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body tanggal_lahir_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Tanggal Lahir</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="tanggal_lahir_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="tanggal_lahir_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body nik_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">NIK</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="nik_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="nik_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body niy_nigk_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">NIY / NIGK</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="niy_nigk_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="niy_nigk_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body nuptk_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">NUPTK</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="nuptk_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="nuptk_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body jenis_ptk_id_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Jenis PTK</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="jenis_ptk_id_str_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="jenis_ptk_id_str_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body agama_id_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Agama</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="agama_id_str_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="agama_id_str_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body alamat_jalan_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Alamat Jalan</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="alamat_jalan_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="alamat_jalan_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body rt_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">RT</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="rt_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="rt_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body rw_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">RW</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="rw_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="rw_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body nama_dusun_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Nama Dusun</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="nama_dusun_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="nama_dusun_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body desa_kelurahan_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Desa Kelurahan</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="desa_kelurahan_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="desa_kelurahan_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body kecamatan_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Kecamatan</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="kecamatan_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="kecamatan_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body kabupaten_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Kabupaten / Kota</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="kabupaten_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="kabupaten_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body propinsi_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Propinsi</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="propinsi_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="propinsi_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body kode_pos_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Kode Pos</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="kode_pos_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="kode_pos_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body no_telepon_rumah_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">No. Telepon Rumah</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="no_telepon_rumah_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="no_telepon_rumah_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body no_hp_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">No. HP</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="no_hp_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="no_hp_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body email_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Email</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="email_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="email_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body kewarganegaraan_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Kewarganegaraan</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="kewarganegaraan_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="kewarganegaraan_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body npwp_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">NPWP</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="npwp_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="npwp_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body status_keaktifan_id_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Status Keaktifan</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="status_keaktifan_id_str_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="status_keaktifan_id_str_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body keahlian_laboratorium_id_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Keahlian Laboratorium</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="keahlian_laboratorium_id_str_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="keahlian_laboratorium_id_str_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body sumber_gaji_id_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Sumber Gaji</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="sumber_gaji_id_str_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="sumber_gaji_id_str_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body nama_ibu_kandung_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Nama Ibu Kandung</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="nama_ibu_kandung_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="nama_ibu_kandung_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body status_perkawinan_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Status Perkawinan</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="status_perkawinan_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="status_perkawinan_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body nama_suami_istri_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Nama Suami / Istri</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="nama_suami_istri_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="nama_suami_istri_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body nip_suami_istri_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">NIP Suami / Istri</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="nip_suami_istri_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="nip_suami_istri_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body pekerjaan_suami_istri_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Pekerjaan Suami / Istri</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="pekerjaan_suami_istri_str_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="pekerjaan_suami_istri_str_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body sudah_lisensi_kepala_sekolah_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Lisensi Kepala Sekolah</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="sudah_lisensi_kepala_sekolah_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="sudah_lisensi_kepala_sekolah_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body pernah_diklat_kepengawasan_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Pernah Diklat Kepengawasan</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="pernah_diklat_kepengawasan_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="pernah_diklat_kepengawasan_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body mampu_handle_kk_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Mampu Handle Kebutuhan Khusus</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="mampu_handle_kk_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="mampu_handle_kk_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body keahlian_braille_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Keahlian Braille</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="keahlian_braille_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="keahlian_braille_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body keahlian_bhs_isyarat_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Keahlian Bahasa Isyarat</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="keahlian_bhs_isyarat_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="keahlian_bhs_isyarat_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body status_kepegawaian_id_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;">
		    	<div class="kolom_1" style="text-align:left;width:100%;color:#3399cc">STATUS KEPEGAWAIAN</div>
		  	</div>
		  	<div class="panel-body status_kepegawaian_id_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Status Kepegawaian</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="status_kepegawaian_id_str_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="status_kepegawaian_id_str_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body sk_cpns_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">SK CPNS</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="sk_cpns_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="sk_cpns_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body tgl_cpns_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Tgl CPNS</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="tgl_cpns_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="tgl_cpns_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body sk_pengangkatan_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">SK Pengangkatan</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="sk_pengangkatan_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="sk_pengangkatan_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body tmt_pengangkatan_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">TMT Pengangkatan</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="tmt_pengangkatan_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="tmt_pengangkatan_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body lembaga_pengangkat_id_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Lembaga Pengangkat</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="lembaga_pengangkat_id_str_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="lembaga_pengangkat_id_str_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body pangkat_golongan_id_str_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">Pangkat Golongan</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="pangkat_golongan_id_str_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="pangkat_golongan_id_str_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		  	<div class="panel-body tmt_pns_panel" style="border-bottom:1px solid #ccc;padding-bottom:4px;padding-top:4px;margin-left:20px">
		    	<div class="kolom_1">TMT PNS</div>
		    	<div class="kolom_2">:</div>
		    	<div class="kolom_3">&nbsp;<span class="tmt_pns_value">&nbsp;</span></div>
		    	<div class="kolom_4"><span class="tmt_pns_keterangan">&nbsp;</span></div>
		    	<div class="clear"></div>
		  	</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/beranda.js"></script>

