<div class="panel panel-success">
  	<div class="panel-heading">
    	<h3 class="panel-title">Jam Mengajar PTK</h3>
  	</div>
  	<div class="panel-body" style="font-size:13px">
		<div class="panel panel-default">
			<div class="form-group" style="width:50%;padding-bottom:10px">
		        <div class="col-lg-8"> 
		          <select class="form-control" id="selectSemester">
		              
		          </select>
		        </div>
		    </div>
		    <div class="clear" style="height:30px"></div>
			<table id="grid_basic" class="table table-condensed table-hover table-striped">
			    <thead>
			        <tr>
			            <th data-column-id="rombongan_belajar_id_str">Rombongan Belajar</th>
			            <th data-column-id="nama_mata_pelajaran">Mata Pelajaran</th>
			            <th data-column-id="nomor_surat_tugas">Nomor Surat Tugas</th>
			            <th data-column-id="sk_mengajar">SK Mengajar</th>
			            <th data-column-id="tanggal_sk_mengajar">Tgl SK Mengajar</th>
			            <th data-column-id="semester_id_str">Semester</th>
			            <th data-column-id="jam_mengajar_per_minggu" data-type="numeric">JJM</th>
			        </tr>
			    </thead>
			    <tbody id="grid_body">
	            </tbody>
			    
			</table>

		</div>
	</div>
</div>
<script src="js/data_tables/jquery.dataTables.js"></script>
<script type="text/javascript">
	$.ajax({
        type: "GET",
        url: "getSemester",
        success: function(isi){

          var obj = jQuery.parseJSON(isi);

          var optionsSemester = "";

          for (var i = obj.length - 1; i >= 0; i--) {
              optionsSemester += "<option tahun_ajaran='" + obj[i].nama.substring(0,9) + "' value='"+ obj[i].semester_id +"'>" + obj[i].nama + "</option>";
          };

          $('#selectSemester').html(optionsSemester);

        }
    });

    function tabelJamMengajar(ptk_id, semester_id){
    	$.ajax({
		    type: "POST",
		    url: "getJamMengajar",
		    data:{
		    	ptk_id: ptk_id,
		    	semester_id: semester_id
		    },
		    success: function(isi){

		        var obj = jQuery.parseJSON(isi);

		        $('tbody#grid_body').html('');

		        var template = '';
		        var j = 0;
		        var jjm = 0;

		        console.log(obj);

		        if(typeof(obj) == 'object' ){
		        	 for (var i = obj.length - 1; i >= 0; i--) {
			        	template += '<tr>'+
			        					'<td>'+obj[i].rombongan_belajar_id_str+'</td>'+
			        					'<td>'+obj[i].nama_mata_pelajaran+'</td>'+
			        					'<td>'+obj[i].nomor_surat_tugas+'</td>'+
			        					'<td>'+obj[i].sk_mengajar+'</td>'+
			        					'<td>'+obj[i].tanggal_sk_mengajar+'</td>'+
			        					'<td>'+obj[i].semester_id_str+'</td>'+
			        					'<td>'+obj[i].jam_mengajar_per_minggu+'</td>'+
			        				'</tr>';
			        	j++;
			        	jjm = jjm+parseInt(obj[i].jam_mengajar_per_minggu);
			        };

			        if(j > 0){
			        	template += '<tr>'+
		        					'<td colspan=6 align=left><b>Total Jam Mengajar Semester ini</b></td>'+
		        					'<td colspan=6 align=left>'+jjm+'</td>'+
		        				'</tr>';
			        }
			        
		        }

		        if(j == 0){
		        	template += '<tr>'+
		        					'<td colspan=7 align=center>Data Tidak Ditemukan</td>'+
		        				'</tr>';
		        }	       

		        $('tbody#grid_body').html(template);

		    }
		});
    }

    $( "#selectSemester" ).change(function () {

    	var str = $( "#selectSemester option:selected" ).val();

    	$.ajax({
		    type: "GET",
		    url: "session",
		    success: function(isi){

		        var obj = jQuery.parseJSON(isi);

		         tabelJamMengajar(obj.ptk_id, str);

		    }
		});

    });

	$.ajax({
	    type: "GET",
	    url: "session",
	    success: function(isi){

	        var obj = jQuery.parseJSON(isi);

	        tabelJamMengajar(obj.ptk_id, obj.semester_id);

	    }
	});
</script>