<div class="panel panel-success">
  	<div class="panel-heading">
    	<h3 class="panel-title">Sertifikasi PTK</h3>
  	</div>
  	<div class="panel-body" style="font-size:13px">
		<div class="panel panel-default">
			<table id="grid_basic" class="table table-condensed table-hover table-striped">
			    <thead>
			        <tr>
			            <th data-column-id="bidang_studi_id_str">Bidang Studi</th>
			            <th data-column-id="jenis_sertifikasi_id_str">Jenis Sertifikasi</th>
			            <th data-column-id="tahun_sertifikasi">Tahun Sertifikasi</th>
			            <th data-column-id="nomor_sertifikat">Nomor Sertifikat</th>
			            <th data-column-id="nrg">NRG</th>
			            <th data-column-id="nomor_peserta">Nomor Peserta</th>
			        </tr>
			    </thead>
			    <tbody id="grid_body">
	            </tbody>
			    
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	
	function tabelSertifikasi(ptk_id){
    	$.ajax({
		    type: "POST",
		    url: "getSertifikasi",
		    data:{
		    	ptk_id: ptk_id
		    },
		    success: function(isi){

		        var obj = jQuery.parseJSON(isi);

		        $('tbody#grid_body').html('');

		        var template = '';
		        var j = 0;
		       
		        if(typeof(obj) == 'object' ){
		        	 for (var i = obj.length - 1; i >= 0; i--) {
			        	template += '<tr>'+
			        					'<td>'+obj[i].bidang_studi_id_str+'</td>'+
			        					'<td>'+obj[i].jenis_sertifikasi_id_str+'</td>'+
			        					'<td>'+obj[i].tahun_sertifikasi+'</td>'+
			        					'<td>'+obj[i].nomor_sertifikat+'</td>'+
			        					'<td>'+obj[i].nrg+'</td>'+
			        					'<td>'+obj[i].nomor_peserta+'</td>'+
			        				'</tr>';
			        	j++;
			        };
			        
		        }

		        if(j == 0){
		        	template += '<tr>'+
		        					'<td colspan=7 align=center>Data Tidak Ditemukan</td>'+
		        				'</tr>';
		        }	       

		        $('tbody#grid_body').html(template);

		    }
		});
    }
	$.ajax({
		    type: "GET",
		    url: "session",
		    success: function(isi){

		        var obj = jQuery.parseJSON(isi);

		        tabelSertifikasi(obj.ptk_id);

		    }
		});
	
</script>