body{
	font-family: Arial;
}

* {margin: 0; padding: 0; outline: 0;}

@font-face {
  font-family: 'font-awesome';
  src: url("font-awesome/font/fontawesome-webfont.eot");
  src: url("font-awesome/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("font-awesome/font/fontawesome-webfont.woff") format("woff"), url("font-awesome/font/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon { 
	font-family: 'font-awesome';-webkit-font-smoothing:antialiased; 
	/* color:#a0daff; */
}

.roboto{
	font-family: 'Roboto Slab';-webkit-font-smoothing:antialiased;
}

.container{
	width:1000px;
	margin:auto;
	border:1px solid #ccc;
}

.inner {
	margin:5px;
}

.wrapper{
	background:white;
	border:1px solid #ccc;
	margin-bottom:10px;
}

.inner{
	margin:5px;
}

/* css tambahan */

.header_container{
  width:100%;
  border:0px solid #ccc;
  margin-top:10px;
  margin-bottom:10px;
}

#header_logo{
  float:left;
  border-right: 1px solid #4f4f4f;
  padding-right:10px;
  margin-right:10px;
  padding-bottom: 0px;
}

#header_logo img{
  width:80px;
}

#header_text{
  float:left;
  padding-bottom: 7px;
}

.bh1{
  font-size: 25px;
  width:100%;
  color:#434343;
}

.bh2{
  font-size:13px;
  color:#434343;
}

.clear {
  clear: both;
}

.kolom_1{
	float:left;
	width:23%;
	border:1px solid $ccc;
	font-weight:bold;
}
.kolom_2{
	float:left;
	width:5%;
	border:1px solid $ccc;
}
.kolom_3{
	float:left;
	width:28%;
	border:1px solid $ccc;
}
.kolom_4{
	float:left;
	width:28%;
	border:1px solid $ccc;
}