@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
  /*background:#567;*/
  background:url('../assets/img/symphony.png');
  font-family:'Open Sans',sans-serif;
}

.buttons{
  width:400px;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:5%;
  padding:5px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:left;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  opacity: 0.8;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#2288bb;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399cc;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login .logh1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
  background:#f0f0f0;
  padding:6% 4%;
  border:1px solid #3399cc;
}

input[type="text"],input[type="password"].logs{
  width:100%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="button"].logs{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}

/* css tambahan */

.header_container{
  width:50%;
  text-align: center;
  margin:auto;
  border:1px solid #ccc;
}

#header_logo{
  float:left;
  border-right: 1px solid #4f4f4f;
  padding-right:10px;
  margin-right:10px;
  padding-bottom: 7px;
}

#header_logo img{
  width:80px;
}

#header_text{
  float:left;
  padding-bottom: 7px;
}

.bh1{
  font-size: 25px;
  width:100%;
  color:#fff;
}

.bh2{
  font-size:13px;
  color:#fff;
}

.clear {
  clear: both;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 1190px or less */
@media screen and (max-width: 400px) {

  .buttons{
    width:95%;
  }

  #login{
    width:95%;
  }

  .bh1{
    font-size:20px;
  }

  .bh2{
    font-size: 12px
  }

}
