<div class="navbar navbar-default">
	<div class="inner">
		<div class="navbar-header ext" style="text-align:left">
			<div style="float:left;font-size:12px;color:white">
				Kementerian Pendidikan dan Kebudayaan 2015
			</div>
		</div>
	</div>
</div>