<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">

  <title>{{judul}}</title>
  <link rel="shortcut icon" href="{{konektor}}assets/img/logo.png">

  <link rel="stylesheet" href="css/style_login.css">

  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab'>
  <link rel="stylesheet" type="text/css" href="{{konektor}}js/bootstrap/dist/css/bootstrap.min.cosmo.css">

</head>

<body>

  <span class="buttons">
    <div id="header_logo">
        <img src="assets/img/logo.png" />
    </div>
    <div id="header_text">
        <div class="bh1" style="font-weight:bold">Info PTK Dikmen</div>
        <div class="bh2">Direktorat Jenderal Pendidikan Menengah</div>
        <div class="bh2">Kementerian Pendidikan dan Kebudayaan</div>
    </div>
    <div class="clear"></div>
  </span>
  <div class="clear"></div>

<div id="login">
  <div id="triangle"></div>
  <div class="logh1">Halaman Login</div>
  <form>
    <input type="text" class="username logs" placeholder="Masukkan NUPTK / NIK" />
    <input type="password" class="password logs" placeholder="Masukkan Tanggal Lahir (yyyymmdd)" />
    <input type="button" value="Masuk" class="submit logs"/>
  </form>
</div>

  <script src="{{konektor}}js/jquery/jquery.js"></script>
  <script src="{{konektor}}js/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="js/login.js"></script>

</body>

</html>