<!doctype html>
<html lang="en" ng-app="Angulex">
<head>
<title>{{judul}}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{konektor}}assets/img/logo.png">

{% block css %}
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab'>
<link rel="stylesheet" type="text/css" href="{{konektor}}css/style.css">
<link rel="stylesheet" type="text/css" href="{{konektor}}js/bootstrap/dist/css/bootstrap.min.cosmo.css">

{% endblock %}

{% block js %}
<script src="{{konektor}}js/jquery/jquery.js"></script>
<script src="{{konektor}}js/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{konektor}}js/angular/angular.js" type="text/javascript"></script>
<script src="{{konektor}}js/angular-route/angular-route.js" type="text/javascript"></script>
<script src="{{konektor}}js/app.js"></script>
<script src="{{konektor}}js/controllers.js"></script>

{% endblock %}

</head>

<body>
	<div class="container">
		<div class="header_container">
			<div id="header_logo">
	        <img src="assets/img/logo.png" />
	    </div>
	    <div id="header_text">
	        <div class="bh1" style="font-weight:bold">Info PTK Dikmen</div>
	        <div class="bh2">Direktorat Jenderal Pendidikan Menengah</div>
	        <div class="bh2">Kementerian Pendidikan dan Kebudayaan</div>
	    </div>
	    <div class="clear"></div>
		</div>
		
		<div class="navbar navbar-default navbar-inverse">
		  <div class="navbar-collapse collapse navbar-responsive-collapse">
		    <ul class="nav navbar-nav">
		      	<li><a href="#/">Data Utama</a></li>
		      	<li><a href="#/laman/jam_mengajar">Jam Mengajar</a></li>
		      	<li><a href="#/laman/sertifikasi">Sertifikasi</a></li>
		      	<li><a href="#/laman/tugas_tambahan">Tugas Tambahan</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
	        	<li><a href="logout">Logout</a></li>
	      	</ul>
		  </div>
		</div>
		<div class="wrapper">
			<div class="inner">
				<div ng-view style="min-height:400px"></div>
			</div>
		</div>
   		
   		{% include 'footer.twig' %}
	</div>
</body>
</html>